
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;

}


/* header */

#header{
    background-color:   #102742;
    height: 100%;
    width: 100%;
    
}

.logo{
    height: 5rem;
    position: fixed;
}

.gamesx{
    display: inline;
    position: relative;
    left: 50rem;
    color: white;
    font-family: 'Bruno Ace', cursive;
    font-size: 3rem;
    
}

.header_div_nav_ul_li{
    display: inline;
    
}
.header_div_nav_ul_li_a{
    
    color: white;
    position: relative;
    left: 20%;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Bruno Ace', cursive;
}
.header_div_nav_ul_li_a--posicion{
    
    position: relative;
    left: 60%;
}

/* main index */

#main{
    
    background-image: url(/img/fondo1.jpg);
    
    
    
}
.tex{
    color: white;
    font-size: 4rem;
    
    padding: 1rem;
    background-image: url(/img/fondo2.jpg);
    border-radius: 1rem;
    font-family: 'Bruno Ace', cursive;
    
    
    
}

    

.flex{
    display: flex;
}
.imag{
    margin: 1% 0% 1% 1%;
    border-radius: 2rem;
    
    
}

/* juegos index */


    

.sub_h2{
    height: 100%;
    width: 100%;
    padding: 5rem;
    text-align: center;   
    background-color: #102742;
    color: white;
    font-family: 'Bruno Ace', cursive;
    font-size: 3rem;
}

.index_min_fondo{
    
    padding: 2rem;
    background-image: url(/img/fondomin1.jpg);
    
    
}

.tex_min{
    font-family: 'Teko', sans-serif;
    color: greenyellow;
    -webkit-text-stroke: 0.2rem black ;
    background-image: none;
}

.ver_mas_min{
    
    
    font-size: large;
    color: white;
    position: absolute;
    -webkit-text-stroke: white;
    background-color:   green;
    text-decoration: none;
    height: 5rem;
    width: 5rem;
    padding: 1rem 5rem;
    border-radius: 1rem;
    position: relative;
    left: 1rem;
    font-family: 'Teko', sans-serif;
}
.ver_mas_min:hover{
    color: black;
    text-decoration: none;
}

.index_drg_fondo{
    
    padding: 2rem;
    background-image: url(/img/fondodrg1.jpg);
    
    
}
.tex_drg{
    font-family: 'Bangers', cursive;
    color:  red;
    -webkit-text-stroke: 0.2rem black;
    background-image: none;
}

.ver_mas_drg{
    font-size: large;
    color: white;
    position: absolute;
    -webkit-text-stroke: white;
    background-color: orange;
    text-decoration: none;
    height: 5rem;
    width: 5rem;
    padding: 1rem 5rem;
    border-radius: 1rem;
    position: relative;
    left: 1rem;
    font-family: 'Bangers', cursive;
    
} 
.ver_mas_drg:hover{
    color: black;
    text-decoration: none;}

.index_tlof_fondo{
    
    padding: 2rem;
    background-image: url(/img/fondotlof1.jpg);
}

.text_lof{ 
    font-family: 'Oswald', sans-serif;
    color: white;
    -webkit-text-stroke: 0.2rem black;
    background-image: none;

}
.ver_mas_tlof{
    font-size: large;
    color: white;
    -webkit-text-stroke: white;
    background-color: gray;
    text-decoration: none;
    height: 5rem;
    width: 5rem;
    padding: 1rem 5rem;
    border-radius: 1rem;
    position: relative;
    left: 1rem;
    font-family: 'Bangers', cursive;
    
} 
.ver_mas_tlof:hover{
    color: black;
    text-decoration: none;}

.index_fifa_fondo{
    
    padding: 2rem;
    background-image: url(/img/fondofifa1.jpeg);
    background-size: 50%;
}
.tex_fifa{
    font-family: 'Bebas Neue', cursive;
    color: rgb(10, 222, 233);
    -webkit-text-stroke: 0.2rem black;
    background-image: none;
    
}

.ver_mas_fifa{
    font-size: large;
    color: white;
    background-color: rgb(9, 163, 246);
    -webkit-text-stroke: white;
    text-decoration: none;
    height: 5rem;
    width: 5rem;
    padding: 1rem 5rem;
    border-radius: 1rem;
    position: relative;
    left: 1rem;
    font-family: 'Bangers', cursive;
    ;
} 
.ver_mas_fifa:hover{
    color: black;
    text-decoration: none;} 


#final{
    background-image: url(/img/fondo1.jpg);
}
#footer{
    background-color:   #102742;
    height: 100%;
    width: 100%;
}

.tex_foot{
    font-family: 'Bruno Ace', cursive;
    font-size: 2rem;
    background-image: none;
}

.instagram{
    width: 5rem;
    margin: 1rem;

    
}
.twitter{
    width: 5rem;
    position: relative;
    margin: 1rem;
}


/* HTML 1 MINECRAFT */

.titumin{
    color: greenyellow;
    text-align: center;
    font-size: 10rem;
    background-color: green;

}

/* HTML 2 DRAGON BALL BUDOKAI TENKACHI 3 */
.titudrg{
    color: orange;
    text-align: center;
    font-size: 10rem;
    background-color: red;

}
/* HTML 3 THE LAST OF US */
.titutlof{
    color: gainsboro;
    text-align: center;
    font-size: 10rem;
    background-color:   gray;

}
/* HTML 4 FIFA */
.titutfifa{
    color: paleturquoise;
    text-align: center;
    font-size: 10rem;
    background-color:   skyblue;

}