


.tex_drg{
    
        color:yellow;
        font-family: 'Bruno Ace', cursive;
        font-size: 3rem;
        text-decoration: none;
        @media (max-width: 992px){
            font-size: 2rem;
        }
    
        @media (max-width: 768px){
                text-align: center;
                font-size: 2.5rem;
            }
        @media (max-width: 576px){
                text-align: center;
                font-size: 2rem;
            }
    }

.subtitulos_drg{
        @extend .tex_drg;
        color: white;
        text-align: start;
        height: 100%;
        width: 100%;
        padding: 5rem;
        font-size: 4rem;
        font-weight: bold;
        margin: 0rem;
        text-shadow: 3px 3px 5px rgb(0, 0, 0);
        @media(max-width: 768px){
            font-size: 3rem;
            
        }
    }
    .tex_drg_fondo{
        @extend .tex_drg;
        background-color: rgba(20, 17, 1, 0.253);
        border-radius: 2rem;
    }
    


.img_drg{
        height: auto;
        width: 100%;
        margin: 1rem;
        object-fit: cover;
        border-radius: 2rem;
       
    }
    

    #main_drg{
        background-image: url(../img/drgbt3_main_fondo.jpg);
        background-size: 100%;
    }
    


#per_drg{
    background-color: orange;
}
#goku_fin{
    background-image: url(../img/drgbt3_fondo_goku.jpg);
    background-size: 100%;
    background-position: center;
}

#kid_buu{
    background-image: url(../img/drgbt3_fondo_kid_buu.jpg);
    background-size: 100%;
}

#gohan_joven{
    background-image: url(../img/drgbt3_fondo_gohan.jpg);
    background-size: 100%;
}

#broly{
    background-image: url(../img/drgbt3_fondo_broly.jpg);
    background-size: 100%;
}
#gogeta{
    background-image: url(../img/drgbt3_fondo_gogeta.jpg);
    background-size: 100%;
}
#final_drg{
    background-color: orange;
}
.link_final_drg{
    text-decoration:underline;
    &:hover{ color: yellow;}

   
}
