


.tex_min{
    color: greenyellow;
    font-family: 'Bruno Ace', cursive;
    font-size: 3rem;
    text-decoration: none;
    @media (max-width: 992px){
        font-size: 2rem;
    }

    @media (max-width: 768px){
            text-align: center;
            font-size: 2.5rem;
        }
    @media (max-width: 576px){
            text-align: center;
            font-size: 2rem;
        }
}

.tex_min_fondo{
    @extend .tex_min;
    background-color: rgba(30, 93, 43, 0.26);
    border-radius: 2rem;
}



.subtitulos_min{
    @extend .tex_min;
    color: white;
    text-align: start;
    height: 100%;
    width: 100%;
    padding: 5rem;

    font-size: 4rem;
    font-weight: bold;
    margin: 0rem;
    @media(max-width: 768px){
        font-size: 3rem;
        
    }
}


.img_min{
    height: auto;
    width: 100%;
    margin: 1rem;
    object-fit: cover;
    border-radius: 2rem;

}



// main

#main_min{
    
    background-image: url(../img/minecraft_fondo_main.jpg);
    background-size: 205%;
    background-position: center;
    object-fit: cover;
    padding: 2rem;
    
}

// survival creativo

#surv_crea_min{
    background-image: url(../img/minecraft_fondo.jpg);
    
    
}
.img_surv_crea_min{
    
    @extend .img_min;
    background-position: center;
    padding: 1rem;
    
}


#mult_serv_min{
    background-image: url(../img/minecraft_fondo_2.jpg);
    
    
}


.link_serv_min{
    @extend .tex_min;
    text-decoration: none; 
    
    &:hover{
        color: white;
        
    }
    @media (max-width:768px){
        font-size: 2rem;
    }
    @media(max-width:650px){
        font-size: 1.5rem;
    }
    @media(max-width: 576px){
        font-size: 2rem;
        text-decoration:underline;
    }  
    }

.min_scale{
    &:hover{
        transform: scale(1.1,1.1);
    }
}

#final_min{
    background-image: url(../img/minecraft_fondo_main.jpg);
    background-size: 205%;
    background-position: center;
    object-fit: cover;
    padding: 2rem;}

.cont_link_final{
    position: relative;
    text-align: center;

}
.link_final_min{
    text-decoration:underline;
    &:hover{ color: greenyellow;}

}