#footer {
    background-color: #102742;
    height: 100%;
    width: 100%;
  
    div {
      margin: 0;
    }
  }
  

  .tex_footer{
    color: white;
    font-family:'Bruno Ace', cursive;
    font-size: 3rem;  
    @media (max-width: 992px){
      font-size: 2rem;
      padding: 1rem;
      
    }
    @media (max-width: 576px){
      font-size: 2rem;
      text-align: center;
    }
      
    }
  

 .Redes_Footer {
    height: auto;
    width: 100%;
    margin: 1rem;
    
    @media(max-width: 576px){
      height: 100%;
      width: 100%;
      margin: 0rem;
      padding: 1rem;
     
  }

 
 }


