#footer {
    background-color: #102742;
    height: 100%;
    width: 100%;
  
    div {
      margin: 0;
    }
  }
  
  .tex_footer_mobile {
    color: greenyellow;
    
    
  }
  
 .Redes_Footer {
    height: auto;
    width: 100%;
    margin: 1rem;
 }